* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 19, 19);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  background-color: rgb(10, 41, 41);
  border-radius: .5rem;
  padding: 1rem 2rem;
  width: 35rem;
}

button {
  margin-bottom: 3rem;
  background-color: rgb(4, 19, 19);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: .6rem 1rem;
  border-radius: .5rem;
}

button:hover {
  background-color: rgb(233, 193, 141);
  color: rgb(10, 41, 41);
}

.justify {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  color: #fff;
  width: 20rem;
  margin-bottom: 1.5rem;
}

h4 {
  color: rgb(233, 193, 141);
}



